@media all and (max-width: 927px) {
    #main-header {
        height: 87vh;
        background-color: rgba(244, 231, 231, 0.9);
    }
    #about {
        height: 80vh;
    }
    #slider {
        height: 68vh;
    }
    #skills #slider .slide-show .single-slide .item-mask .item-content {
        height: 56vh;
    }
    .maska {
        position: absolute;
        height: 57vh;
        width: 54vw;
        border: 32px solid #e0e0e0;
        border-radius: 61px;
        top: -4%;
        left: -6%;
    }
    
}

@media all and (max-width: 768px) {
    #main-header {
        height: 75vh;
    }
    .col-minixs-12 {
        width: 0;
        float: none;
    }
    .programmer-description {
        margin-top: 10vh;
    }
    .image-programmer .before {
        width: 90vw;
    }
    .image-programmer .after {
        width: 92vw;
        height: 69vh;
        background-position: bottom;
    }
    .maska {
        height: 74vh;
        width: 100vw;
        top: -2%;
        left: -4%;
    }
    #main-nav #main-menu ul li a:hover {
        border-bottom: none;
        padding-bottom: none;
    }
    .obramowanie:nth-child(even) {
        border-right: none;
    }
    #about {
        height: 103vh;
    }
    #slider {
        height: 60vh;
    }
    #skills #slider .slide-show .single-slide .item-mask .item-content {
        height: 48vh;
    }
    #contact .contact-data .contact-social-icons a {
        margin: 0;
        display: inline-block;
    }
}

@media all and (max-width: 680px) {
    header {
        height: 50vh;
    }
    header h1::after {
        display: none;
    }
    .col-minixs-12 {
        width: 0;
    }
    .image-programmer .after {
        width: 95vw;
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
    }
    .image-programmer .before h3 {
        display: none;
    }
    .maska {
        height: 76vh;
        border: 43px solid #e0e0e0;
        border-radius: 78px;
        left: -7%;
        width: 108vw;
    }
  
    #about {
        height: 119vh;
    }
    #skills #slider .slide-show .single-slide .item-mask {
        height: 46vh;
    }
    #skills #slider {
        height: 55vh;
    }
    #skills #slider .slide-show .single-slide .item-mask .item-content {
        height: 43vh;
    }
}

@media all and (max-width: 480px) {

    #main-header {
        height: 46vh;
    }
   
    #about {
        height: 133vh;
    }
    #skills #slider {
        height: 32vh;
    }
    #skills #slider .slide-show .single-slide .item-mask .item-content {
        height: 20vh;
    }
     .obramowanie {
        width: 100%;
        float: none;
    }
    .obramowanie:nth-child(odd) {
        border-right: none;
    }
    
    #contact .contact-data .contact-social-icons a {
        margin: 0;
    }
}