@media all and (max-width: 927px) {
    #main-header {
        background-size: contain;
        height: 87vh;
        background-color: rgba(244, 231, 231, 0.9); 
    }
    #about {
        height: 80vh;
    }
    #slider {
        height: 68vh;
    }
    
    #skills #slider .slide-show .single-slide .item-mask .item-content {
        height: 56vh;
    }
   
}

@media all and (max-width: 768px) {
    #contact .contact-data .contact-social-icons a {
        margin: 0;
        display: inline-block;
    }
    
 
    
    #main-header {
        height: 75vh;
        margin-top: 0;
    }
    
    .col-minixs-12 {
        width: 0;
        float: none;
    }
    
     .programmer-description{
        margin-top: 10vh;
    }
    
    .image-programmer .before {
        width: 90vw;
    }
    
    .image-programmer .after {
        width: 95vw;
        height: 48vh;
    }
    
    #main-nav #main-menu ul li a:hover {
    border-bottom: none;
    padding-bottom: none;
}
    .obramowanie:nth-child(even) {
        border-right: none;
    }
    
    #about {
        height: 103vh;
    }
    #slider {
        height: 60vh;
    }
    #skills #slider .slide-show .single-slide .item-mask .item-content {
        height: 48vh;
    }
}

@media all and (max-width: 680px) {
   
    header h1::after {
        display: none;
    }
    
    
    .col-minixs-12 {
        width: 0;
    }
   
    
     .image-programmer .after {
        width: 95vw;
        margin-left: 0;
         margin-right: 0;
         left: 0;
         right: 0;
    }
    header {
        
        height: 50vh;
    }
 
     #main-header h1 {
        font-size: 2.5em;
    }
    #main-header p {
        font-size: 1.5em;
    }
    
    #skills #slider .slide-show .single-slide .item-mask {
    
    
    height: 46vh;
    
}
    #skills #slider {
        height: 55vh;
    }
    #about {
        height: 119vh;
    }
    #skills #slider .slide-show .single-slide .item-mask .item-content {
        height: 43vh;
    }
}

@media all and (max-width: 480px) {
    #contact .contact-data .contact-social-icons a {
        margin: 0;
    }
    .obramowanie {
        
        width: 100%;
        float: none;
    }
    .obramowanie:nth-child(odd) {
        border-right: none;
    }
    
    #main-header {
        height: 46vh;
    }
     #main-header h1 {
        font-size: 100%;
    }
    #main-header p {
        font-size: 95%;
    }

    #about {
        height: 133vh;
    }
    #skills #slider {
        height: 32vh;
    }
    #skills #slider .slide-show .single-slide .item-mask .item-content {
        height: 20vh;
    }
    
}