@media all and (max-width: 927px) {
    #main-header {
        background-size: contain;
    }
}

@media all and (max-width: 768px) {
    #main-header {
        height: 75vh;
        margin-top: 0;
    }
    
    .col-minixs-12 {
        width: 0;
        float: none;
    }
    
     .programmer-description{
        margin-top: 10vh;
    }
    
    .image-programmer .before {
        width: 65vh;
    }
    
    .image-programmer .after {
        width: 95vw;
        height: 59vh;
    }
    
    #main-nav #main-menu ul li a:hover {
    border-bottom: none;
    padding-bottom: none;
}
    .obramowanie:nth-child(even) {
        border-right: none;
    }
   
    
}

@media all and (max-width: 680px) {
   
    
    
    .col-minixs-12 {
        width: 0;
    }
   
    
     .image-programmer .after {
        width: 95vw;
        margin-left: 0;
         margin-right: 0;
         left: 0;
         right: 0;
    }
    header {
        
        height: 50vh;
    }
    header h1::after {
    display: none;
}
     #main-header h1 {
        font-size: 2.5em;
    }
    #main-header p {
        font-size: 1.5em;
    }
    
    #skills #slider .slide-show .single-slide .item-mask {
    
    
    height: 41vh;
    
}
    #skills #slider {
        height: 50vh;
    }
}

@media all and (max-width: 480px) {
    .obramowanie {
        
        width: 100%;
        float: none;
    }
    .obramowanie:nth-child(odd) {
        border-right: none;
    }
    .image-programmer .before {
        display: none;
    }
    #main-header {
        height: 46vh;
    }
     #main-header h1 {
        font-size: 100%;
    }
    #main-header p {
        font-size: 95%;
    }
    
    
    .image-programmer .after {
        width: 95vw;
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
    }
    
}