body {
    margin: 0;
    box-sizing: border-box;
    color: black;
    background-color: #e3e3e3;
}

h1 {
    font-weight: 300;
}

h2 {
    text-align: center;
}

span {
    color: darkgoldenrod;
}

.col-1-2 {
    width: 50%;
    float: left;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 800px;
}


/*Menu navigation - Start*/

#main-nav {
    background-color: rgba(244, 231, 231, 0.9);
}

#main-nav #main-menu ul li a {
    color: #f0b43d;
    transition: all 0.4s;
}

#main-nav #main-menu ul li a:hover {
    color: #a1700c;
    font-weight: bold;
}

#main-nav button p {
    margin: 0px;
    color: #a1830c;
}

#main-nav button p:hover {
    color: #a1700c;
}


/*Menu navigation - Stop*/

header {
    margin-top: 50px;
}

#main-header {
    background-image: url(../img/wallhaven-500970.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
    position: relative;
    background-attachment: scroll;
}

#main-header h1 {
    transform: translateY(-20%);
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 4em;
}

#main-header p {
    transform: translateY(-100%);
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 2em;
    font-weight: 300;
}

#about {
    background-color: #e0e0e0;
}

#about .col-lg-6 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 1em;
}


/* slider */

#slider {
    overflow: hidden;
    height: 700px;
    position: relative;
    margin: auto;
    background-color: #e3e3e3;
}

#slider .slide-show {
    position: absolute;
    height: 100%;
    text-align: center;
}

#slider .slide-show .single-slide {
    position: absolute;
    top: 0;
    bottom: 0;
}


#slider .slide-show .single-slide img {
    border: none;
    width: 100%;
    max-width: 1300px;
}

#slider .slide-show .single-slide .slider-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
}