/* General styles - start */

body {
    margin: 0;
    box-sizing: border-box;
    color: black;
    background-color: #e3e3e3;
    opacity: 1;
    transition: 2.5s opacity;
    font-family: 'Lato', sans-serif;
}



/* .fade-out - class for fade animation onload */

body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
    font-weight: 300;
}



span {
    color: darkgoldenrod;
}

section {
    
    
    padding-top: 5vh;
}


/* General styles - Stop */


/*Menu navigation - Start*/

#main-nav {
    background-color: rgba(244, 231, 231, 0.9);
}

#main-nav #main-menu ul li a {
    color: #a1700c;
    font-weight: bold;
    transition: all 0.4s;
}

#main-nav #main-menu ul li a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

#main-nav button p {
    margin: 0px;
    color: #a1830c;
}

#main-nav button p:hover {
    color: #a1700c;
}

.glyphicon.glyphicon-menu-up {
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 10px;
}

.navbar-brand:hover .glyphicon.glyphicon-menu-up {
    animation-name: moving;
}

@keyframes moving {
    0% {
        margin-top: 10px;
    }
    50% {
        margin-top: 0;        
    }
    100% {
        margin-top: 10px;
    }
}
/*Menu navigation - Stop*/


/* Main-header - Start */

header {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}


/* Underline h1 - start */

header h1::after {
    content: '';
    position: absolute;
    border: 2px solid transparent;
    height: 76px;
    width: 0;
    margin: auto;
    left: 0;
    right: 0;
    transition: 1s all;
}

header h1:hover::after {
    width: 440px;
    border-top-color: #a1700c;
    border-bottom-color: #ab760b;
}


/* underline h1 - stop */


/* zmienic cover na contain przy 1505x927*/

#main-header {
    background-image: url(../img/wallhaven-500970.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    position: relative;
    background-attachment: scroll;
}

#main-header h1 {
    transform: translateY(-20%);
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 4em;
}

#main-header p {
    transform: translateY(-100%);
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 2em;
    font-weight: 300;
}


/* Main-header - Stop */


/* Section about - Start */

#about {
    background-color: #e0e0e0;
    height: 78vh;
    margin-bottom: 10vh;
}

.image-programmer {
    display: block; 
    height: 65vh;
    perspective: 800px;
}

.image-programmer .before,
.image-programmer .after {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #e0e0e0;
    box-sizing: border-box;
    transition: 0.6s transform linear;
    backface-visibility: hidden;
    border: 10px solid #e0e0e0;
    border-radius: 50px;
    
}

.image-programmer .before {
    font-size: 1.5em;    
}


/* skills bar start*/

.image-programmer .before .bar-skills {
    width: 100%;
    background-color: #ddd;
}

.image-programmer .before .skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
    transition-duration: 2s;
    transition-property: background-color, width;
}

.image-programmer .before .html {
    width: 0%;
    background-color: #ddd;
    
}

.image-programmer .before .css {
    width: 0%;
    background-color: #ddd;
    
}

.image-programmer .before .js {
    width: 0%;
    background-color: #ddd;
    
}

.image-programmer .before .jquery {
    width: 0%;
    background-color: #ddd;    
}

.image-programmer .before:hover .html {
    width: 90%;
    background-color: #4CAF50;
}

.image-programmer .before:hover .css {
    width: 80%;
    background-color: #2196F3;
}

.image-programmer .before:hover .js {
    width: 67%;
    background-color: #f44336;
}

.image-programmer .before:hover .jquery {
    width: 65%;
    background-color: #808080;
}


/* skills bar stop */



.image-programmer .after {
    background: url('../img/IMG_9062.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: (#e0e0e0;
    );
}

.image-programmer:hover .after {
    transform: rotateY(180deg);
}

.image-programmer .before {
    background-size: cover;
    transform: rotateY(180deg);
    background-color: transparent;
}

.image-programmer:hover .before {
    transform: rotate(360deg);
}

.programmer-description {
    font-size: 1.8em;
    font-weight: 100;
    line-height: 1.7em;
}

.programmer-description p {
    margin-bottom: 1.4em;
}


/* Section about - Stop */


/* Section skills - Start */


/* slider */


#slider {
    
    overflow: hidden;
    height: 88vh;
    position: relative;
    margin: auto;
    background-color: #e3e3e3;
}

#slider .slide-show {
    position: absolute;
    height: 100%;
    text-align: center;
}

#slider .slide-show .single-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#slider .slide-show .single-slide .slider-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
}

#skills #slider .slide-show .skills-item-1 {
    background-image: url(../img/html-1.png);
}

#skills #slider .slide-show .skills-item-2 {
    background-image: url(../img/css3-460x287.jpg);
}

#skills #slider .slide-show .skills-item-3 {
    background-image: url(../img/javascript-encode-.png);
}

#skills #slider .slide-show .skills-item-4 {
    background-image: url(../img/jquery-660x270.jpg);
}

#skills #slider .slide-show .skills-item-5 {
    background-image: url(../img/images_old_blog_twitter-bootstrap.jpg);
}

#skills #slider .slide-show .skills-item-6 {
    background-image: url(../img/ajax-logo.jpg);
}
#skills #slider .slide-show .skills-item-7 {
    background-image: url(../img/json.png);
}
#skills #slider .slide-show .skills-item-8 {
    background-image: url(../img/blue-group_responsive_design.png);
}
#skills #slider .slide-show .skills-item-9 {
    background-image: url(../img/sass-gulp-720x400.png);
}
#skills #slider .slide-show .skills-item-10 {
    background-image: url(../img/git.png);
}
#skills #slider .slide-show .skills-item-11 {
    background-image: url(../img/jira_logo_landing.png.png);
}
#skills #slider .slide-show .skills-item-12 {
    background-image: url(../img/comando-cmd.jpg);
}
#skills #slider .slide-show .skills-item-13 {
    background-image: url(../img/bash.png);
}
#skills #slider .slide-show .skills-item-14 {
    background-image: url(../img/linux-logo.png);
}
#skills #slider .slide-show .skills-item-15 {
    background-image: url(../img/windows-logo-wallpaper-25.jpg);
}
#skills #slider .slide-show .skills-item-16 {
    background-image: url(../img/confluence.png);
}
#skills #slider .slide-show .skills-item-17 {
    background-image: url(../img/zimbra.png);
}
#skills #slider .slide-show .skills-item-18 {
    background-image: url(../img/wordpress-logo.jpg);
}
#skills #slider .slide-show .skills-item-19 {
    background-image: url(../img/react.png);
}
#skills #slider .slide-show .skills-item-20 {
    background-image: url(../img/angular-logo.png);
}
#skills #slider .slide-show .skills-item-21 {
    background-image: url(../img/php.png);
}
#skills #slider .slide-show .skills-item-22 {
    background-image: url(../img/mysql-logo.jpg);
}

#skills #slider .slide-show .single-slide .item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}

#skills #slider .slide-show .single-slide .item-mask:hover {
    opacity: 1;
}

#skills #slider .slide-show .single-slide .item-mask .item-content {
    height: 79.5vh;    
    border: 5px solid #fff;
    margin: 10px;
    position: relative;
}

#skills #slider .slide-show .single-slide .item-mask .item-content .item-content-inner {
    color: #fff;
    position: absolute;
    top: 50%;
    /* pozycjonuje 50 procent od relatywnej item-content */
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 5px;
}


/* section skills - stop */


/* section experience - start */

.grey-light-gb {
    background-color: #eee;
}

.p-80-cont {
    padding-top: 80px;
    padding-bottom: 80px;
}

.page-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.obramowanie:not(:last-child) {
    border-right: 2px solid #ab760b;
    display: inline-block;
    height: 28vh;
}

.count-number {
    font-size: 5em;
    font-weight: 300;
}

.count-title {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

.count-title-button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;  
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  width: 40%;
margin-left: 30%;
margin-right: 30%;
}

.count-title-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
    color: #FFFFFF;
}

.count-title-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.count-title-button:hover span {
  padding-right: 25px;
}

.count-title-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* section experience - stop */


/* section my-projects */

#my-projects {
 height: 900px;
}

#my-projects .my-projects-title {
    -webkit-clip-path: polygon(0 0, 68% 0, 29% 99%, 0 99%);
    clip-path: polygon(0 0, 68% 0, 29% 99%, 0 99%);
    background-color: #eee;
    height: 700px;
    position: absolute;    
}

#my-projects .my-projects-description {
    
    height: 700px;   
    padding-left: 250px;
}



.my-projects-desc-header {
    display: inline-block;
    width: 400px;
    padding-right: 150px;
    color: #ab760b;
}


#my-projects .my-projects-description .items {
    color: black;
    font-size: 1.33em;
    font-weight: 700;
    margin-top: 25px;  
    font-style: italic;
    color: #ab760b;
    transition: 0.3s all; 
}

#my-projects .my-projects-description:hover .items {
    
}

.icons {
    height: 15px;
}

.icons a {
    text-decoration: none;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: 116px;
    color: #213b50;
    font-weight: 700;
    font-size: 2em;
}
.icons a:hover {
    color: #426684;
}

.icons.icons-item-1{
    margin-left: -61px;
}
.icons.icons-item-2{
    margin-left: -77px;
}
.icons.icons-item-3{
    margin-left: -93px;
}
.icons.icons-item-4{
    margin-left: -109px;
}
.icons.icons-item-5{
    margin-left: -125px;
}
.icons.icons-item-6{
    margin-left: -141px;
}
.icons.icons-item-7{
    margin-left: -157px;
}
.icons.icons-item-8{
    margin-left: -173px;
}
.icons.icons-item-9{
    margin-left: -189px;
}



#my-projects .my-projects-description .items.project-item-1{
  margin-left: 36px;  
}
#my-projects .my-projects-description .items.project-item-2{
    margin-left: 22px;
}
#my-projects .my-projects-description .items.project-item-3{
    margin-left: 8px;
}
#my-projects .my-projects-description .items.project-item-4{
    margin-left: -4px;
}
#my-projects .my-projects-description .items.project-item-5{
    margin-left: -21px;
}
#my-projects .my-projects-description .items.project-item-6{
    margin-left: -34px;
}
#my-projects .my-projects-description .items.project-item-7{
    margin-left: -52px;
}
#my-projects .my-projects-description .items.project-item-8{
    margin-left: -70px;
}
#my-projects .my-projects-description .items.project-item-9{
    margin-left: -87px;
}

/* section my-projects */



/*Contact section - Start*/

#contact {
    background-color: #213b50;
    color: #fff;
}

#contact .contact-data h2 {
    font-size: 38px;
}

#contact .contact-data address {
    font-style: normal;
    margin: 72px 0;
    line-height: 25px;
}

#contact .contact-data address a {
    color: #1ac085;
}

#contact .contact-data .contact-social-icons a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    width: 38px;
    line-height: 38px;
    text-align: center;
    margin-right: 30px;
    font-size: 22px;    
}

#contact .contact-data .contact-social-icons a:hover {
    color: #213b50;
    border: 1px solid #213b50;
    background-color: #fff;
}

#contact .contact-form {
    margin-top: 100px;
}

#contact .contact-form form input,
#contact .contact-form form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #2b4a64;
    border: #2b4a64 0px;
    color: #fff;
}

#contact .contact-form form input:focus,
#contact .contact-form form textarea:focus {
    background-color: #426684;
}

#contact .contact-form form input[type="submit"] {
    background-color: #1ac056;
    color: #fff;
    width: auto;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 30px;
    float: right;
    border: 1px #1ac056 solid;
}

#contact .contact-form form input[type="submit"]:hover {
    background-color: #fff;
    color: #1ac056;
    cursor: pointer;
}

/*Contact section - Stop*/



