/* General styles - start */

body {
    margin: 0;
    box-sizing: border-box;
    color: black;
    background-color: #e3e3e3;
    opacity: 1;
    transition: 2.5s opacity;
}

/* Start script opacity - class for fade animation onload */

body.fade-out {
    opacity: 0;
    transition: none;
}
/* opacity - stop */

h1 {
    font-weight: 300;
}

h2 {
    text-align: center;
}

span {
    color: darkgoldenrod;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 800px;
}
/* General styles - Stop */

/*Menu navigation - Start*/

#main-nav {
    background-color: rgba(244, 231, 231, 0.9);
}

#main-nav #main-menu ul li a {
    color: #a1700c;
    font-weight: bold;
    transition: all 0.4s;
}

#main-nav #main-menu ul li a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

#main-nav button p {
    margin: 0px;
    color: #a1830c;
}

#main-nav button p:hover {
    color: #a1700c;
}


/*Menu navigation - Stop*/

/* Main-header - Start */

header {
    margin-top: 50px;
}

/* Underline h1 - start */

header h1::after {
    content: '';
    position: absolute;
    border: 2px solid transparent;
    height: 76px;
    width: 0;
    margin: auto;
    left: 0;
    right: 0;
    transition: 1s all;
}

header h1:hover::after {
    width: 440px;
    border-top-color: #a1700c;
    border-bottom-color: #ab760b;
}

/* underline h1 - stop */

#main-header {
    background-image: url(../img/wallhaven-500970.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
    position: relative;
    background-attachment: scroll;
}

#main-header h1 {
    transform: translateY(-20%);
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 4em;
}

#main-header p {
    transform: translateY(-100%);
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 2em;
    font-weight: 300;
}

/* Main-header - Stop */

/* Section about - Start */

#about {
    background-color: #e0e0e0;
}

.image-programmer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47.9vw;
    border-radius: 1em;
    height: 50vh;
    perspective: 800px;
}

.image-programmer .before,
.image-programmer .after {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #e0e0e0;
    box-sizing: border-box;
    transition: 0.6s transform linear;
    backface-visibility: hidden;
}

.image-programmer .before {
    font-size: 1.5em;
    
}

.image-programmer .after {
    background: url('../img/IMG_9062.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: (#e0e0e0;
    );
}

.image-programmer:hover .after {
    transform: rotateY(180deg);
}

.image-programmer .before {
    background-size: cover;
    transform: rotateY(180deg);
    background-color: #e0e0e0;
}

.image-programmer:hover .before {
    transform: rotate(360deg);
}

.programmer-description {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.7em;
}

.programmer-description p {
    margin-bottom: 1.4em;
}

/* Section about - Stop */

/* Section skills - Start */

/* slider */

#slider {
    overflow: hidden;
    height: 700px;
    position: relative;
    margin: auto;
    background-color: #e3e3e3;
}

#slider .slide-show {
    position: absolute;
    height: 100%;
    text-align: center;
}

#slider .slide-show .single-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}

#slider .slide-show .single-slide .slider-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
}

#skills #slider .slide-show .skills-item-1 {
    background-image: url(../img/blue-group_responsive_design.png);
}

#skills #slider .slide-show .skills-item-2 {
    background-image: url(../img/cmd.jpg);
}

#skills #slider .slide-show .skills-item-3 {
    background-image: url(../img/html-1.png);
}

#skills #slider .slide-show .skills-item-4 {
    background-image: url(../img/git.png);
}

#skills #slider .slide-show .skills-item-5 {
    background-image: url(../img/javascript-encode-.png);
}

#skills #slider .slide-show .single-slide .item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}

#skills #slider .slide-show .single-slide .item-mask:hover {
    opacity: 1;
}

#skills #slider .slide-show .single-slide .item-mask .item-content {
    height: 85%;
    border: 1px solid #fff;
    margin: 30px;
    position: relative;
}

#skills #slider .slide-show .single-slide .item-mask .item-content .item-content-inner {
    color: #fff;
    position: absolute;
    top: 50%;
    /* pozycjonuje 50 procent od relatywnej item-content */
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 5px;
}

/* section skills - stop */

/* section experience - start */

.grey-light-gb {
    background-color: #eee;
}

.p-80-cont {
    padding-top: 80px;
    padding-bottom: 80px;
}

.page-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.obramowanie:not(:last-child) {
    border-right: 2px solid #ab760b;
}

/* section experience - stop */
